:root {
  --primary-color: #e0ffcd;
  --secondary-color-1: #fdffcd;
  --secondary-color-2: #ffebbb;
  --secondary-color-3: #ffcab0;
}

body {
  background: var(--secondary-color-2) !important;
  margin-top: 100px !important;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: var(--secondary-color-3);
  font-size: 96px !important;
  font-weight: bold;
}

h2 {
  color: var(--secondary-color-3);
  font-size: 48px !important;
}

img {
  max-width: 50%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  color: var(--secondary-color-1);
  font-weight: bolder;
  text-decoration: none;
}

.email-link:hover {
  color: var(--primary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
